node_modules
*.tgz
*.bak
**/*.bak
.nyc_output
docs
logs
src
test
log.json
tmp/*
post_sort
.gitattributes
*.cmd
test1x.json
*.log
**/*.bak
.vscode/*
tsconfig.json
README.md
.eslintrc.json
.npmignore
.gitignore
.travis.yml
gulpfile.js
smbmodel
*.txt
**/*.map
*.bak
gen2
oo.txt

