node_modules
*.tgz
*.bak
**/*.bak
coverage/*
tmp/*
docs
logs
env/*
src
test
log.json
tmp/*
post_sort
.gitattributes
*.cmd
test1x.json
*.log
**/*.bak

# test files
test/*
**/_cache.zip
**/*.zip

# root files
*.cmd
*.txt

smartbot.js
transform.js

*.bak
*.md.bak

# build files etc.
.vscode/*
.eslintrc.json
.npmignore
.gitignore
.travis.yml
.eslintignore
gulpfile.js
tsconfig.json
README.md

# 
testdb/*


*.txt
*.cmd
smartbot.js
**/*.map
*.bak
gen2

