extends layout_p



block content
	// preset form values if we receive a userdata object //
	//- user = user

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand(style='bgcolor:orange;color:darkblue;font-family:Arial Black;font-size:15.118px') wosap model data
			ul.nav.navbar-nav.navbar-right #{uid}
				li
					.navbar-btn#btn-logout.btn.btn-default(onclick="location.href='/home'")
						| back to home

	p &nbsp;
	p &nbsp;
	p

	div.well

		h3 legal links
			span.pull-right Rechtliche Erklärungen
		p
		span This is a non-commercial, private website.
		span.pull-right Dies ist eine nicht kommerzielle, private Website.
		br
		span
			a(href="/legal_en") Legal Disclosure, Disclaimer, Data Privacy Statement (English, Englisch)
		span.pull-right
			a(href="/legal_de") Impressum, Haftungsausschluss, Datenschutzerkl&auml;rung (Deutsch, German)
		br
		span
			a.btn.btn-default(href="/termsofuse") Terms of use
		span.pull-right
			a.btn.btn-default(href="/termsofuse") Nutzungsbedingungen

		br
		p
		| the content is in no way associated with or endorsed by any of the data sources or organizations publishing information
		| on the datasources below.
		br
		| Notably it is not endorsed by the CIA or SAP
		br
		p

		h3 Models and data origin
			span.small (click on a square to navigate to model description)
		div.panel.panel-sm.panel-warning
			div.panel.panel-sm.panel-heading(style="background-color:#ffb833;color:darkblue") Model content ...
			div.panel-body(style="padding-top:0px !important")
				div.row(style="padding-left:0px !important")
					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.panel-sm.panel-warning(style="cursor:pointer;cursor:hand" onclick="javscript:window.location.href='domains/FioriBOM'")
							div.panel-heading.bg-success.text-center(style="background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: Fiori BOM (
								a(href="/table_fioribom?c3,4,5,20,21,8,14") Tabular view
								|)
							div.panel-body.bg-success.text-center(style="background-color:#fcf8e3;padding:4px !important") Information on Fiori applications
								| with links to the &nbsp;
								a(href="https://fioriappslibrary.hana.ondemand.com/sap/fix/externalViewer/") Fiori Reference library

					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.panel-sm.panel-warning(style="cursor:pointer;cursor:hand" onclick="javscript:window.location.href='domains/Fiori_Backend_Catalogs'")
							div.panel-heading.bg-success.text-center(style="cursor:pointer;background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: Fiori Backend Catalogs
							div.panel-body.bg-success.text-center(style="background-color:#fcf8e3;padding:4px !important") Information on Fiori Content delivered via Backend catalogs ( SUI_TM_MM_APP, /UI2/APPDESC_GET ) and the relation to Frontend applications
					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.panel-sm.panel-warning(style="cursor:pointer;cursor:hand" onclick="javscript:window.location.href='domains/SOBJ_Tables'")
							div.panel-heading.bg-success.text-center(style="background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: SOBJ Tables (
								a(href="/table_sobj_tables?c0,1,2") Tabular view
								| )
							div.panel-body.bg-success.text-center(style="background-color:#fcf8e3;padding:4px !important") Information on R/3 Transport objects

					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.panel-sm.panel-warning(onclick="javscript:window.location.href='./domains/TWF_countries'")
							div.panel-heading.bg-success.text-center(style="background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: The world factbook
							div.panel-body.bg-success.text-center(style="cursor:hand;background-color:#fcf8e3;padding:4px !important") Country information
					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.bg-success.panel-sm.panel-warning.bg-success(onclick="javscript:window.location.href='./domains/IUPAC'")
							div.panel-heading.text-center.bg-success(style="background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: IUPAC
							div.panel-body.bg-success.text-center(style="background-color:#fcf8e3;padding:2px !important") basic chemical element facts
					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.panel-sm.panel-warning(onclick="javscript:window.location.href='domains/SAP_Transaction_Codes'")
							div.panel-heading.bg-success.text-center(style="background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: R3 Basis transaction
							div.panel-body.bg-success.text-center(style="background-color:#fcf8e3;padding:4px !important") R3 basis transactions
					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.panel-sm.panel-warning(onclick="javscript:window.location.href='domains/Cosmos'")
							div.panel-heading.bg-success.text-center(style="background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: Cosmos
							div.panel-body.bg-success.text-center(style="background-color:#fcf8e3;padding:4px !important") Very limited astronomical sample database
					div.col-sm-2(style="padding-left:5px !important;padding-right:5px")
						div.panel.panel-sm.panel-warning(onclick="javscript:window.location.href='domains/Philosophers_elements'")
							div.panel-heading.bg-success.text-center(style="background-color:#e6ffff;color:darkblue;font-weight:bold;padding:2px") Domain: Philosophers elements
							div.panel-body.bg-success.text-center(style="background-color:#fcf8e3;padding:4px !important") Philosopers elements

		p


		h3 content acknowledgements
		div.panel.panel-sm.panel-info
			div.panel.panel-sm.panel-heading
				b
					| The content displayed here is collected privately (partially programmatically) by the author from public sources
			div.panel-body
				div.row
					div.col-sm-6
							div.well.well-sm.text-center
								| SAP Fiori Applications reference library
								br
								a(href="https://fioriappslibrary.hana.ondemand.com/sap/fix/externalViewer/#?sap-language=EN") Fiori apps reference library


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/settings.js')
